Theory Answers

1. What are data structure and why are they important?                           
A data structure is a specific way of organizing, storing, and managing data in a computer so that it can be accessed and used efficiently. Think of it like organizing books in a library; you can arrange them by author, genre, or title. Each method makes it easier to find a book for a specific purpose.

They are important for three main reasons:

Efficiency: The right data structure can make an algorithm run much faster. For example, finding a name in a phone book (a dictionary-like structure) is much quicker than searching through a simple, unordered list of names.

Code Organization: They help in managing large and complex data, making the code cleaner and easier to understand.

Reusability: Well-defined data structures can be reused across different parts of a program or in different projects.

 2.Explain the difference between mutable and immutable data types with examples?
  
  Mutable objects can be changed after they are created. You can add, remove, or modify their elements.

Example: A Python list.

Python

my_list = [1, 2, 3]
print(my_list) # Output: [1, 2, 3]
# Modify the list
my_list[0] = 99
print(my_list) # Output: [99, 2, 3]
Immutable objects cannot be changed after they are created. If you want to alter it, you must create a new object.

Example: A Python tuple or string.

Python

my_tuple = (1, 2, 3)
# This next line will cause a TypeError because tuples are immutable.
# my_tuple[0] = 99

3. What are the main differences between lists and tuples in Python?


List are mutable on the other hand tulpes are immutable and in list square brackets[] are used and in tuples Parenthess() are used the performance of list is slightly slower because of mutability overhead tuples are faster as compare to list and more memory efficient

4.  Describe how dictionaries store data?

Dictionaries store data as key-value pairs.

Key: A unique identifier for a piece of data. Keys must be of an immutable type (like strings, numbers, or tuples).

Value: The data associated with a key. Values can be of any data type.

Internally, dictionaries use a hash table, which allows for very fast retrieval of values based on their keys.



# 'name','age', and 'city' are keys
# 'Alice', 30, and 'New York' are values

5. Why might you use a set instead of a list in Python ?

I would use a set instead of a list in two main situations:

Enforcing Uniqueness: Sets automatically discard duplicate values. This is useful when you only want to store unique items.

Fast Membership Testing: Checking if an item is present in a set is extremely fast (average time complexity of O(1)). In a list, the computer has to potentially check every single element (an O(n) operation), which is much slower for large lists.

6. What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters. While it behaves like a sequence, similar to a list, there are key differences:

Mutability: Strings are immutable. You cannot change a character in a string. Lists are mutable.

Element Type: A string can only contain characters. A list can contain elements of any data type (integers, strings, other lists, etc.).

7. How do tuples ensure data integrity in Python?

Tuples ensure data integrity because they are immutable. Once a tuple is created, its contents cannot be accidentally or intentionally altered, deleted, or added to. This makes them a safe way to store data that you want to remain constant throughout your program, such as configuration settings or coordinates.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values. It uses a special function called a hash function to compute an index (a "hash") from a key. This index is then used to locate the corresponding value in memory. Dictionaries and sets are implemented using hash tables. This is why they are so fast for looking up, adding, and deleting items. The hash table structure allows them to find an item based on its key in constant average time, O(1), regardless of the size of the dictionary.

9. Can lists contain different data types in Python?

Yes, absolutely. Lists are very flexible and can hold a mixture of different data types in the same list.                                                 For Example



mixed_list = [1, "hello", 3.14, True, [10, 20]]

10. Explain why strings are immutable in Python.

Strings are immutable in Python for several reasons related to efficiency and safety:

Performance: Since a string cannot be changed, Python can perform optimizations like reusing the same string object for multiple variables that have the same value.

Hashing: Because strings are immutable, their hash value never changes. This is what allows strings to be used as keys in dictionaries.

Safety: If you pass a string to a function, you can be confident that the function cannot change it.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries offer significant advantages for tasks involving lookups or structured data:

Fast Lookups: Retrieving a value by its key in a dictionary is incredibly fast (O(1) on average). Finding an item in a list requires searching through it (O(n)), which is much slower.

Readability: Using descriptive string keys (person['name']) is often more readable and less error-prone than using numerical indices (person[0]). Dictionaries are self-documenting in this way.

12.  How do sets handle duplicate values in Python?

Sets simply do not store them. If you try to add an item to a set that is already present, the set remains unchanged. The operation is ignored, and no error is raised.

numbers = {1, 2, 3, 3, 4, 2}
print(numbers) # Output: {1, 2, 3, 4}

13. Describe a scenario where using a tuple would be preferable over a list.
A great scenario is for storing a collection of fixed data that represents a single entity, like GPS coordinates.

# A tuple is perfect for coordinates because they have a fixed structure (x, y)
# and shouldn't be changed.
location = (40.7128, -74.0060)

# Using it as a dictionary key is another great use case.
city_locations = {
    (40.7128, -74.0060): "New York",
    (34.0522, -118.2437): "Los Angeles"
}
A list wouldn't be ideal here because its elements could be accidentally changed, or its length could be altered, which wouldn't make sense for a coordinate pair.

14. How does the “in” keyword work differently for lists and dictionaries?

For a list, the in keyword checks for the presence of a value.

my_list = ['apple', 'banana', 'cherry']
print('banana' in my_list) # Output: True
For a dictionary, the in keyword checks for the presence of a key, not a value.

person = {'name': 'Alice', 'age': 30}
print('age' in person)      # Output: True (checks for the key)
print('Alice' in person)    # Output: False (does not check for the value)

15. Can you modify the elements of a tuple? Explain why or why not.

No, you cannot. This is because tuples are immutable. The definition of immutability is that an object's state cannot be modified after it has been created. Attempting to assign a new value to an index in a tuple will result in a TypeError.

16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary that contains another dictionary as one of its values. It's a way to create more complex, hierarchical data structures.

A common use case is to store structured records, such as a database of employees:



employees = {
    'emp101': {
        'name': 'John Doe',
        'position': 'Developer',
        'contact': {
            'email': 'john.d@example.com',
            'phone': '123-456-7890'
        }
    },
    'emp102': {
        'name': 'Jane Smith',
        'position': 'Manager',
        'contact': {
            'email': 'jane.s@example.com',
            'phone': '098-765-4321'
        }
    }
}

# Accessing nested data
print(employees['emp101']['contact']['email'])
# Output: john.d@example.com

17. Describe the time complexity of accessing elements in a dictionary.

The time complexity for accessing, inserting, or deleting elements in a dictionary is:

Average Case: O(1), or constant time. This means the operation takes roughly the same amount of time regardless of how many items are in the dictionary.

Worst Case: O(n), or linear time. This is very rare and only happens if a large number of keys happen to hash to the same slot in the underlying hash table (a hash collision).

18.  In what situations are lists preferred over dictionaries?

Lists are preferred when:

The order of the items matters.

You want to store a simple collection of items, not key-value pairs.

You need to store duplicate values.

You will primarily access items by their numerical position (index).

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Historically, dictionaries did not preserve the order in which items were inserted. The internal layout was determined by the hash function.

How it affected retrieval: It meant you could only retrieve data by using its key. You could not reliably access the "first" or "last" item inserted.

Important Note: Since Python 3.7, dictionaries are officially insertion-ordered. The order you put items in is the order they will be in when you iterate over them. However, you still retrieve data by its key, not by a numerical index like a list. The "unordered" concept now primarily refers to the access method (by key) rather than the iteration orde

20. Explain the difference between a list and a dictionary in terms of data retrieval.

The fundamental difference is how you access the data within them:

List: You retrieve data using a numerical index (an integer representing the item's position). The index starts at 0.

fruits = ['apple', 'banana', 'cherry']
first_fruit = fruits[0] # Access by index 0
Dictionary: You retrieve data using a unique key. This key is used to look up its associated value.

person = {'name': 'Alice', 'age': 30}
person_name = person['name'] # Access by key 'name'

Practical Questions

1.  Write a code to create a string with your name and print it?

In [7]:
my_name= "Medhansh"
my_name

'Medhansh'

2.  Write a code to find the length of the string "Hello World"?

In [8]:
my_string= "Hello world "
string_length= len(my_string)
string_length

12

3.  Write a code to slice the first 3 characters from the string "Python Programming?

In [1]:
my_string= "Python Programming"
sliced_string= my_string[:3]
sliced_string

'Pyt'

4.  Write a code to convert the string "hello" to uppercase?

In [2]:
my_string="Hello"
uppercase_string= my_string.upper()
uppercase_string

'HELLO'

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple?

In [3]:
my_sentence= "I like apple"
new_sentence= my_sentence.replace("apple", "orange")
new_sentence

'I like orange'

 6. Write a code to create a list with numbers 1 to 5 and print it?

In [4]:
my_list= [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [5]:
my_list= [1,2,3,4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [6]:
my_list=[1,2,3,4,5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [8]:
my_list=["a","b","c","d"]
my_list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [9]:
my_list= [10,20,30,40,50]
my_list.reverse()
my_list

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [10]:
my_tuple= (100,200,300)
my_tuple

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [1]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [2]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
minimum_number

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [5]:
my_tuple=('dog', 'cat', 'rabbit')
cat_index= my_tuple.index("cat")
cat_index

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [8]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
  print("Yes, 'kiwi' is in the tuple.")
else:
  print("No, 'kiwi' is not in the tuple.")

No, 'kiwi' is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [12]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [13]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [14]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
union_set

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [16]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
intersection_set

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [18]:
my_details = {} # Initialize an empty dictionary
my_details["name"] = "Medhansh"
my_details["age"] = 20
my_details["city"] = "New Delhi"
my_details

{'name': 'Medhansh', 'age': 20, 'city': 'New Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [19]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [20]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
name_value

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [21]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [22]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
  print("Yes, the key 'city' exists.")
else:
  print("No, the key 'city' does not exist.")

Yes, the key 'city' exists.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [24]:
my_list = [1, "hello", 3.14]
my_tuple = (1, "hello", 3.14)
my_dict = {
    "item1": 1,
    "item2": "hello",
    "item3": 3.14}

  # Print each data structure
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 'hello', 3.14]
Tuple: (1, 'hello', 3.14)
Dictionary: {'item1': 1, 'item2': 'hello', 'item3': 3.14}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [28]:
import random

random_numbers = []
# Generate 5 random numbers and add them to the list
for _ in range(5):
  random_numbers.append(random.randint(1, 100))
  # Sort the list in ascending order
random_numbers.sort()
# Print the final sorted list
print(random_numbers)

[2, 24, 28, 82, 85]

28. Write a code to create a list with strings and print the element at the third index.

In [30]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
element = fruits[3]
print(element)

date

29.  Write a code to combine two dictionaries into one and print the result

In [31]:
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'age': 31}
merged_dict = dict1 | dict2
print(merged_dict)

{'name': 'Alice', 'age': 31, 'city': 'Paris'}

30.  Write a code to convert a list of strings into a set.

In [32]:
my_list = ["apple", "banana", "cherry", "apple"]
# Convert the list to a set
my_set = set(my_list)
print(my_set)

{'apple', 'cherry', 'banana'}